<!-- 
<div class="card">
    <p-table  [columns]="tabelHeading[0]" [value]="trade" dataKey="id">
        <ng-template pTemplate="header" let-columns>
            <tr >
                <th [style]="{'border':'1px solid #e5e5e5'}" class="session">Session</th>
                <th [style]="{'border':'1px solid #e5e5e5'}" class="delivery_period"> Delivery Period</th>
                <th [style]="{'border':'1px solid #e5e5e5'}"  class="custom_table" *ngFor="let col of columns | slice:2"> <span class="text">{{ col }}</span></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns"  let-rowIndex="rowIndex" >
            <tr >
                <td [style]="{'border':'1px solid #e5e5e5'}" *ngIf="rowGroupMetadata[rowData.session].index === rowIndex" [attr.rowspan]="rowGroupMetadata[rowData.session].size">
                    <span class="p-text-bold p-ml-2">{{rowData.session}}</span>
                </td>
                <td [style]="{'border':'1px solid #e5e5e5'}" [ngClass]="{'delivery_period' : rowData.session % 2 == 0,'graySad':rowData.session % 2 != 0}">
                    {{rowData.Delivery_Period }}       
                 </td>
                <td [style]="{'border':'1px solid #e5e5e5'}"*ngFor="let col of columns | slice:2" pEditableColumn  [ngClass]="{'negative': rowData[col]< 0,'postive':rowData[col]> 0,'equal':rowData[col]== 0}"  >
                    <span *ngIf="col != 'session' && col != 'Delivery_Period'">
                    <p-cellEditor >
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData[col]" >
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{ rowData[col] }}
                        </ng-template>
                    </p-cellEditor>
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <button (click)="show()">Show</button>
  </div> -->

  <!-- <hot-table
  class="hot"
  [data]="dataset"
  [colHeaders]="true"
  [rowHeaders]="true">
    <hot-column data="id" [readOnly]="true" title="ID"></hot-column>
    <hot-column data="name" title="Full name"></hot-column>
    <hot-column data="address" title="Street name"></hot-column>
</hot-table> -->

<!-- <hot-table
  [colHeaders]="true"
  
  [rowHeaders]="true"
  
  [data]="dataset"></hot-table> -->

  <!-- <hot-table
      class="hot"
      [data]="dataset"
      [colHeaders]="true">
        <hot-column data="id" title="ID"></hot-column>
        <hot-column data="name" title="Full name"></hot-column>
        <hot-column data="address" title="Street name"></hot-column>
    </hot-table> -->

    <div #spreadsheet></div>


<!-- <hot-table
  [afterChange]="detectChanges"
  [settings]="tableSettings"
  [data]="dataset"></hot-table> -->