.negative{
    color: red;
}
.postive{
    color: blue;
}
.equal{
    color:black
}
.custom_table{
   background-color: #3a8bba !important;
   /* color: white  !important; */
   
}
.text{
    color: white  ;
}
.delivery_period{
    background-color: #dfecf3 !important;

}
.session{
    background-color:  #ffffff !important;
}

tr:nth-child(4n + 1) td,
tr:nth-child(4n + 2) td {
    background-color: #f2f2f2;
}

tr:nth-child(4n + 3) td,
tr:nth-child(4n + 4) td {
    background-color: #ffffff;
}
.graySad{
    background-color:  #d4e1e8 !important;
}
.make-me-red {
    color: #f00;
  }
  .positive {
    background-color: green;
}

.negative {
    background-color: red;
}
ul {
    text-align: center;
  }

